<% if @service.errors.any? %>
  <div id="error">
    <h3><%= @service.errors.count %> error(s) prohibited account creation:</h3>
 
    <ul>
    <% @service.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @service, local: true do |f| %>
    <%= f.label :name, "Service Name: " %>
    <%= f.text_field :name %><br><Br>

    <%= f.label :description, "Service Description: " %>
    <%= f.text_field :description %><br><Br>

    <%= f.label :duration, "Service Duration: " %>
    <%= f.text_field :duration %><br><Br>

    <%= f.submit %>
<% end %>