<% if @client.errors.any? %>
  <div id="error">
    <h3><%= @client.errors.count %> error(s) prohibited account creation:</h3>
 
    <ul>
    <% @client.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @client, local: true do |f| %>
    <%= f.label :name, "Cient Name: " %>
    <%= f.text_field :name %><br><Br>

    <%= f.label :phone, "Phone Number: " %>
    <%= f.text_field :phone %><br><Br>

    <%= f.label :email, "Email Address: " %>
    <%= f.text_field :email %><br><Br>

    <% if !@stylist.nil? %>
        Appointment with <%= @stylist.name %><br><br>
        <%= hidden_field_tag  'appointment[stylist_id]', @stylist.id %>
    <% else %>
        <%= f.label :stylist_id, "Preferred Stylist (leave blank for none)" %>
        <%= f.collection_select 'appointment[stylist_id]', Stylist.all, :id, :name, :include_blank => true %><br><Br>
    <% end %>

    <%= f.submit %>
<% end %>