 <%= render partial: "shared/head" %>

  <h4><%= @client.name %>'s Client Appointment History</h4>
  <p class="text-black-50 mb-0">
      <ul>
          <% @client.appointments.each do |c| %>
              <li>
              Service: <%= c.service.name %> (<%= c.service.description %>)<br>
              Stylist: <%= c.stylist.name %><br>
              Scheduled for: <%= c.start_time.strftime("%b %e, %l:%M %p") %> - <%= c.end_time.strftime("%b %e, %l:%M %p") %><br>
              <%= link_to "View Appointment Detail", stylist_appointment_path(c.client_id, c) %><br>
              </li>
          <% end %>
      </ul>
      <%= link_to "Book an appointment for #{@client.name}", new_client_appointment_path(@client) %>

<%= render partial: "shared/foot" %>