
<!-- Projects Section -->
  <section id="projects" class="projects-section bg-light">
      <div class="container">
      <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
          <div class="featured-text text-center text-lg-left">
            <h4><%= @client.name %>'s Client Appointment History</h4>
            <p class="text-black-50 mb-0">
                <ul>
                    <% @client.appointments.each do |c| %>
                        <li>
                        Service: <%= c.service.name %> (<%= c.service.description %>)<br>
                        Stylist: <%= c.stylist.name %><br>
                        Scheduled for: <%= c.start_time.strftime("%b %e, %l:%M %p") %> - <%= c.end_time.strftime("%b %e, %l:%M %p") %><br>
                        <%= link_to "View Appointment Detail", appointment_path(c) %><br>
                        </li>
                    <% end %>
                </ul>
                <%= link_to "Book an appointment for #{@client.name}", new_client_appointment_path(@client) %>

            </p>
          </div>
        </div>
        </div>
  </section>