
    <!-- Projects Section -->
  <section id="projects" class="projects-section bg-light">
      <div class="container">
      <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
          <div class="featured-text text-center text-lg-left">
            <h4>Appointments by Stylist</h4>
            <p class="text-black-50 mb-0">
                <% @stylists.each do |s| %>
                    Stylist: <%= s.name %><ul>
                        <% s.appointments.each do |a| %>
                            <li>
                                Service: <%= a.service.name %> (<%= a.service.description %>)<br>
                                Client: <%= a.client.name %><br>
                                Scheduled for: <%= a.start_time.strftime("%b %e, %l:%M %p") %> - <%= a.end_time.strftime("%b %e, %l:%M %p") %><br>
                                <%= link_to "View Appointment Detail", appointment_path(a) %><br>
                            </li>
                        <% end %>
                    </ul>
                <% end %>
            </p>
          </div>
        </div>
    </div>

    </div>
  </section>