<%= render partial: "shared/head" %>
          
  <% if !@stylist.nil? %>
    <h4>Book an Appointment with <%= @stylist.name %></h4>
  <% elsif !@client.nil? %>
    <h4>New Appointment for <%= @client.name %></h4>
  <% else %>    
    <h4>Create a New Appointment</h4>
  <% end %>
  <p class="text-black-50 mb-0">
    <%= render partial: "form", locals: { appointment: @appointment } %>
  </p>

<%= render partial: "shared/foot" %>









