<h1>Welcome to the Appointments Index</h1>

<p>Here are all the appointments:</p>
<ul>
    <% @appointments.each do |a| %>
        <li>
        Client: <%= link_to a.client.name, client_path(a.client) %><br>
        Service: <%= link_to a.service.name, service_path(a.service) %> (<%= a.service.description %>)<br>
        Stylist: <%= a.stylist.name %><br>
        Scheduled for: <%= a.start_time.strftime("%b %e, %l:%M %p") %> - <%= a.end_time.strftime("%b %e, %l:%M %p") %><br>
        <%= link_to "View Appointment Detail", appointment_path(a) %><br>
        </li>
    <% end %>
</ul>
<%= link_to 'Sign Out', signout_path, method: :post %>