<h1>Welcome to the Appointments Index</h1>

<p>Here are all the appointments:</p>
<ul>
    <% @appointments.each do |a| %>
        <li>
        <%= link_to "Client:", clients_path %> <%= link_to a.client.name, client_path(a.client) %><br>
        <%= link_to "Service:", services_path %> <%= link_to a.service.name, service_path(a.service) %> (<%= a.service.description %>)<br>
        <%= link_to "Stylist:", stylists_path %> <%= link_to a.stylist.name, stylist_path(a.stylist) %><br>
        Scheduled for: <%= a.start_time.strftime("%b %e, %l:%M %p") %> - <%= a.end_time.strftime("%b %e, %l:%M %p") %><br>
        Booked By: <%= a.concierge.name %><br>
        <%= link_to "View Appointment Detail", appointment_path(a) %><br><br>
        </li>
    <% end %>
</ul>
<%= link_to 'Create Appointment', new_appointment_path %> | <%= link_to 'Sign Out', signout_path, method: :post %>