<section id="projects" class="projects-section bg-light">
  <div class="container">
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7">
        <%= week_calendar events: @appointments do |date, appointments| %>
          <%= date.to_formatted_s(:short) %>

          <% appointments.each do |a| %>
            <div>
                _________________
                <%= a.start_time.strftime("%l:%M%p") %>-<%= a.end_time.strftime("%l:%M%p") %><br>
                Client: <%= a.client.name %><br>
                Service: <%= a.service.name %><br>
                Stylist: <%= a.stylist.name %><br>
                <%= link_to "View Detail", stylist_appointment_path(a.stylist_id, a) %><br>
            </div>
          <% end %>

        <% end %>
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">

