<% if @concierge.errors.any? %>
  <div id="error">
    <h3><%= @concierge.errors.count %> error(s) prohibited account creation:</h3>
 
    <ul>
    <% @concierge.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @concierge, local: true do |f| %>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %><br><Br>

    <%= f.label :email, "Email Address" %>
    <%= f.text_field :email %><br><Br>

    <% if current_concierge.admin == true %>
        <%= f.label :admin, "Admin?" %>
        <%= f.check_box :admin %><br><br>
    <% end %>

    <%= f.label :password, "Verify Password" %>
    <%= f.password_field :password %><br><Br>

    <%= f.submit %>
<% end %>