<h1>Create a New Concierge</h1>
<%= form_with model: @concierge do |f| %>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %><br><Br>

    <%= f.label :email, "Email Address" %>
    <%= f.text_field :email %><br><Br>

    <%= f.label :username, "Username" %>
    <%= f.text_field :username %><br><Br>

    <%= f.label :admin, "Admin?" %>
    <%= f.check_box :admin %><br><br>

    <%= f.label :password, "Password" %>
    <%= f.text_field :password %><br><Br>

    <%= f.submit "Create Concierge" %>
<% end %>
<br><Br>
<%= link_to "Home Page", root_path %> | <%= link_to "Sign In", signin_path %>
