 <%= render partial: "c_head" %> 
            
    <h4><%= @concierge.name %>'s Profile & Booking History</h4>

    <p class="text-black-50 mb-0">
    <p>Email Address: <%= @concierge.email %><br>
    <p>Admin? <%= is_admin? %></p>

    <ul>Bookings:
        <% @concierge.appointments.each do |c| %>
            <li>
            Service: <%= c.service.name %> (<%= c.service.description %>)<br>
            Stylist: <%= c.stylist.name %><br>
            Scheduled for: <%= c.start_time.strftime("%b %e, %l:%M %p") %> - <%= c.end_time.strftime("%b %e, %l:%M %p") %><br>
            <%= link_to "View Appointment Detail", appointment_path(c) %><br>
            </li>
        <% end %>
    </ul>

    <% if current_concierge == @concierge || current_concierge.admin == true %>
    <%= link_to 'Edit Concierge Account', edit_concierge_path(@concierge) %>
        <% if current_concierge.admin == true %> | 
            <%= link_to 'Delete Concierge', concierge_path(@concierge), method: :delete %>
        <% end %>
           <% end %>
 

<%= render partial: "c_foot" %>