<!DOCTYPE html>
<html>
  <head>
    <title>Slated</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if current_concierge %>
    <%= link_to "Appointment Index", appointments_path %> |
    <%= link_to 'Create Appointment', new_appointment_path %> | 
    <%= link_to 'Edit Concierge Account', edit_concierge_path(current_concierge) %> | 
    <%= link_to 'Sign Out', signout_path, method: :post %>
        <% if current_concierge.admin == true %>
           | <%= link_to "Add a Stylist", new_stylist_path %>
           | <%= link_to "Add a Service", new_service_path %>
        <% end %>
  <% else %>
    <%= link_to "Sign in with Google", "/auth/google_oauth2" %> | 
    <%= link_to "Sign Up", signup_path %> | <%= link_to "Sign In", signin_path %>
  <% end %>




  <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
